:root 
{
    --blue: rgb(0, 120, 215);
    --gold: rgb(210, 149, 0);
    --gray: rgb(83, 89, 101);
    --black: rgb(3, 3, 3);
    --violet: #836FFF
}
select{
    cursor: pointer
}

#modal-header{
    background-color: var(--gold);
}
.test{
    color: var(--gold);
}

.btn-salvar{
    color: #FFFFFF;
    background-color: var(--gold);
}

#btn-collapse, .titulo{
    /* background-image: linear-gradient(to right, , purple)); */
    background: linear-gradient(to left, var(--gold), var(--blue) );
    /* background: var(--blue);  */
    color: #FFF; 
    font-size: 1.2rem;
}

.t-footer{
    background-color: var(--gray);
    color: #FFF;
    text-align: center;
}

code {
    font-family: Consolas,"courier new", sans-serif;
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

#timer{
    color: var(--gold);
    text-align: right;
}
#sem-dados{
    text-align: center;
}

table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
     border-left-width: 0;
}